.container {
    width: 1024px;
    background-color: rgb(18, 60, 12);
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: rgb(41, 96, 36);
    min-height: 100px;
}

main {
    background-color: rgb(243, 229, 102);
    min-height: 300px;
}

.cards {
    background-color: rgb(221, 151, 111);
    min-height: 300px;
}

.card1 {
    background-color: rgb(250, 103, 206);
    min-height: 300px;
    width: 33.3%;
}

.card2 {
    background-color: rgb(219, 70, 174);
    min-height: 300px;
    width: 33.3%;
}

.card3 {
    background-color: rgb(196, 39, 149);
    min-height: 300px;
    width: 33.3%;
}